---
import BannerMain from "../components/Banner-main.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout tittle="contact">
    <BannerMain />
    <h1>Hola soy Peter Parker</h1>
    <p>Lllámame al 098 989 9878</p>
</Layout>